input {
  width: 300px;
  border: 1px solid #23362f;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 10px;
  outline: none;
}
input:focus {
  border: 2px solid #23362f;
}
form {
  display: flex;
  gap: 10px;
}
