.list {
  padding: 20px 0;
  flex-direction: column;
}
.link {
  font-size: 22px;
}
.item {
  border-top: 1px solid #23362f;
}
.item:last-child {
  border-bottom: 1px solid #23362f;
}
.author {
  font-weight: bolder;
}
