:root {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
}
a {
  font-weight: 500;
  color: #23362f;
  text-decoration: none;
}

body {
  padding: 0;
  color: #23362f;
  background-color: #dee7e4;
  margin: 0;
  max-width: 100%;
  min-width: 320px;
  min-height: 100%;
}
.active {
  color: #d0e0db;
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  border: 1px solid #23362f;
  font-weight: 600;
  font-size: 17px;

  padding: 8px 17px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d0e0db;
  color: #23362f;
  transition: color 300ms linear, background-color 300ms linear;
}
button:hover,
button:focus {
  background-color: #23362f;
  color: #d0e0db;
}
